<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../public/CSS/style.css">
</head>

<body>
    <header class='col-12'>
        <h1>
            <span><a href='/dashboard'>Your Dashboard</a></span>
        </h1>
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/dashboard'>Dashboard</a></li>
                {{#if logged_in}}
                <li><a href='/' id='logout'>Logout</a></li>
                {{else}}
                <li><a href='/login'>Login</a></li>
                {{/if}}     
            </ul>
        </nav>
    </header>
    <main class="container container-fluid">
      {{{ body }}}
    </main>
    <footer class='justify-center'> 
      <button type='submit'><a href='/dashboard/new'>Add Post</a></button>
    </footer>
  </div>
{{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
{{/if}}
</body>

</html>